mixin ui-text1(text, mods)
  -
    const baseName = 'ui-text1'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-text1(class=allMods)&attributes(attributes) !{text}
    block

mixin ui-text2(text, mods)
  -
    const baseName = 'ui-text2'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-text2(class=allMods)&attributes(attributes) !{text}
    block

mixin ui-text3(text, mods)
  -
    const baseName = 'ui-text3'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-text3(class=allMods)&attributes(attributes) !{text}
    block

mixin ui-text4(text, mods)
  -
    const baseName = 'ui-text4'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-text4(class=allMods)&attributes(attributes) !{text}
    block

mixin ui-text-button(text, mods)
  -
    const baseName = 'ui-text-button'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-text-button(class=allMods)&attributes(attributes) !{text}
    block

mixin ui-text-menu(text, mods)
  -
    const baseName = 'ui-text-menu'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-text-menu(class=allMods)&attributes(attributes) !{text}
    block

mixin ui-text-tags(text, mods)
  -
    const baseName = 'ui-text-tags'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-text-tags(class=allMods)&attributes(attributes) !{text}
    block
